module ownership

fn consume(value: ^Vec[I64]) -> Void:
  void

fn main(args: Vec[Bytes]) -> I64 effects[alloc, partial]:
  let values: Vec[I64] = vec.new()
  if vec.len(args) > 0:
    consume(^values)
    consume(^values)
    0
  else:
    0
