(module duplicate-variant-arm
  (variant Maybe ((None) (Some I64)))
  (fn unwrap ((value Maybe)) I64 (effects)
    (match value
      (None 0)
      (None 1)))
  (fn main ((args (Vec Bytes))) I64 (effects)
    (call unwrap (case Maybe None))))
