module enum_ownership

enum Boxed:
  Some(Vec[I64])

fn reset(value: @Boxed) -> Void effects[alloc]:
  value = Boxed::Some(vec.new())
  void

fn exercise(value: @Boxed) -> I64 effects[alloc]:
  match value:
    Some(first):
      match value:
        Some(second):
          reset(@value)
          vec.len(second)

fn main(args: Vec[Bytes]) -> I64:
  0
