(module inout-return (fn expose ((inout values (Vec I64))) (Vec I64) (effects) values) (fn main ((args (Vec Bytes))) I64 (effects alloc) (let values (Vec I64) (call vec.new) (let exposed (Vec I64) (call expose values) 0))))
