module nonleading-structured-fork

fn sample() -> I64 effects[io]:
  io.monotonic-ms()

fn main(args: Vec[Bytes]) -> I64 effects[io]:
  match true:
    true:
      fork:
        let first: I64 = sample()
        let second: I64 = sample()
        i64.add(first second)
    false:
      1
