module integer_ranges

fn guarded_upper(value: I64) -> I64:
  if value < 10:
    value + 1
  else:
    value

fn guarded_lower(value: I64) -> I64:
  if value > -10:
    value - 1
  else:
    value

fn exact_arithmetic() -> I64:
  (20 + 2) * 2

fn exact_division() -> I64:
  84 / 2

fn exact_conversion() -> U8:
  i64.to_u8(255)

fn unguarded(value: I64) -> I64:
  value + 1

fn zero_divisor() -> I64:
  1 / 0

fn domain_limit() -> I64:
  1000000000 + 1

fn constant_remainder(value: I64) -> I64:
  value % 3

fn constant_division(value: I64) -> I64:
  value / 2

fn possible_division_overflow(value: I64) -> I64:
  value / -1

fn total_countdown(remaining: I64, state: Bool) -> Bool effects[partial]:
  if remaining <= 0:
    state
  else:
    recur(remaining - 1, !state)

fn main(args: Vec[Bytes]) -> I64:
  let left: I64 = guarded_upper(5)
  let right: I64 = exact_arithmetic()
  if left == right:
    1
  else:
    0
