(module u8-different (fn subject ((state U8)) Bool (effects) (let number I64 (call u8.to-i64 state) (call bool.and (call i64.ge number 1) (call i64.le number 3)))) (fn main ((args (Vec Bytes))) I64 (effects) 0))
