module app

fn spin(left: @Vec[I64], right: @Vec[I64]) -> I64 effects[partial]:
  recur(@right, @left)

fn main(args: Vec[Bytes]) -> I64 effects[alloc, partial]:
  let left: Vec[I64] = vec.new()
  let right: Vec[I64] = vec.new()
  spin(@left, @right)
