(module reduction (fn dead-integer () I64 (effects) 0) (fn dead-boolean () Bool (effects) true) (fn dead-unit () Unit (effects) unit) (fn main ((args (Vec Bytes))) I64 (effects alloc io partial) (let helper_integer I64 (call dead-integer) (let helper_boolean Bool (call dead-boolean) (let helper_unit Unit (call dead-unit) (let added I64 42 (let subtracted I64 added (let multiplied I64 subtracted (let nested Bool true (let disjoined Bool nested (let equal Bool true (let combined Bool (call bool.and disjoined equal) (let selected Bool (call bool.and combined helper_boolean) (match selected (true (let values (Vec I64) (call vec.new) (let pushed Unit (call vec.push values multiplied) (let result I64 (call vec.get values 0) (let adjusted I64 (call i64.add result helper_integer) (let shown Unit (call io.print-i64 adjusted) (let newline Unit (call io.println "") 0))))))) (false 1)))))))))))))))
