module app

struct Empty:

struct Number:
  value: I64

enum Choice:
  Some(I64)
  Zero

fn main(args: Vec[Bytes]) -> I64:
  let value: app.Choice = app.Choice::Some(7)
  match value:
    Some(inner):
      inner
    Zero:
      0
