module bytes

fn main(args: Vec[Bytes]) -> I64 effects[alloc, io]:
  let output: Vec[U8] = vec.new()
  vec.push(output, i64.to_u8(72))
  vec.push(output, i64.to_u8(105))
  let frozen: Bytes = bytes.freeze(output)
  io.println(frozen)
  0
