module data

struct Pair:
  left: I64
  right: I64

enum Maybe:
  None
  Some(I64)

fn choose(value: Maybe) -> I64:
  match value:
    None:
      0
    Some(number):
      number

fn main(args: Vec[Bytes]) -> I64 effects[io]:
  let pair: Pair = Pair(left: 20, right: 22)
  let sum: I64 = pair.left + pair.right
  let wrapped: Maybe = Maybe::Some(sum)
  let answer: I64 = choose(wrapped)
  io.print_i64(answer)
  io.println("")
  0
