module computed_variant_match

enum Maybe:
  None
  Some(I64)

fn main(args: Vec[Bytes]) -> I64 effects[io]:
  match Maybe::Some(20 + 22):
    None:
      1
    Some(answer):
      io.print_i64(answer)
      io.println("")
      0
