module data

struct Pair:
  left: I64
  right: I64

enum Maybe:
  None
  Some(I64)

fn unwrap(value: Maybe) -> I64:
  match value:
    None:
      0
    Some(number):
      number

fn main(args: Vec[Bytes]) -> I64 effects[io]:
  let pair: Pair = Pair(left: 20, right: 22)
  let left: I64 = pair.left
  let right: I64 = pair.right
  let sum: I64 = left + right
  var changed: I64 = 0
  changed = sum
  let wrapped: Maybe = Maybe::Some(changed)
  let answer: I64 = unwrap(wrapped)
  io.print_i64(answer)
  io.println("")
  0
