(module file-input (fn main ((args (Vec Bytes))) I64 (effects alloc io) (let output (Vec U8) (call vec.new) (let marker U8 (call i64.to-u8 79) (let pushed Unit (call vec.push output marker) (let empty_read Bool (call io.read-file "conformance/pass/empty.input" output) (let bad_read Bool (call io.read-file "bad\x00path" output) (let rejected Bool (call bool.not bad_read) (let length I64 (call vec.len output) (let length_ok Bool (call i64.eq length 1) (let first U8 (call vec.get output 0) (let first_code I64 (call u8.to-i64 first) (let byte_ok Bool (call i64.eq first_code 79) (let reads_ok Bool (call bool.and empty_read rejected) (let state_ok Bool (call bool.and length_ok byte_ok) (let valid Bool (call bool.and reads_ok state_ok) (match valid (true (let shown Unit (call io.println "OK") 0)) (false 1))))))))))))))))))
