module planned_allocation_calls

fn allocate(value: I64) -> I64 effects[alloc]:
  let values: Vec[I64] = vec.new()
  vec.push(values, value)
  vec.get(values, 0)

fn main(args: Vec[Bytes]) -> I64 effects[alloc, io]:
  let answer: I64 = allocate(allocate(42))
  io.print_i64(answer)
  io.println("")
  0
