(module scalars
  (fn main ((args (Vec Bytes))) I64 (effects io)
    (let add I64 (call i64.add 40 2)
      (let sub I64 (call i64.sub 44 2)
        (let mul I64 (call i64.mul 6 7)
          (let div I64 (call i64.div 84 2)
            (let rem I64 (call i64.rem 85 43)
              (let eq Bool (call i64.eq add sub)
                (let lt Bool (call i64.lt 41 42)
                  (let le Bool (call i64.le 42 42)
                    (let gt Bool (call i64.gt 43 42)
                      (let ge Bool (call i64.ge 42 42)
                        (let not_false Bool (call bool.not false)
                          (let both Bool (call bool.and eq lt)
                            (let either Bool (call bool.or false le)
                              (let byte U8 (call i64.to-u8 mul)
                                (let widened I64 (call u8.to-i64 byte)
                                  (let checks_a Bool (call bool.and both either)
                                    (let checks_b Bool (call bool.and gt ge)
                                      (let checks Bool (call bool.and checks_a checks_b)
                                        (match checks
                                          (true
                                            (let shown Unit (call io.print-i64 widened)
                                              (let newline Unit (call io.println "") 0)))
                                          (false rem))))))))))))))))))))))
