module variant_local_match

enum Maybe:
  None
  Some(I64)

fn unwrap(value: Maybe) -> I64:
  let local: Maybe = value
  match local:
    None:
      0
    Some(number):
      number

fn main(args: Vec[Bytes]) -> I64 effects[io]:
  let answer: I64 = unwrap(Maybe::Some(42))
  io.print_i64(answer)
  io.println("")
  0
