module literal_storage

fn returned() -> Bytes:
  "returned|"

fn main(args: Vec[Bytes]) -> I64 effects[alloc, io, partial]:
  let values: Vec[Bytes] = vec.new()
  vec.push(@values, "")
  vec.push(@values, "i64.add|")
  vec.push(@values, "true|")
  vec.push(@values, "42|")
  vec.push(@values, "quote:\" slash:\\|")
  vec.push(@values, "\n\r\t|")
  vec.push(@values, "\x00Z\xff|")
  let named: Bytes = "named|"
  vec.push(@values, named)
  vec.push(@values, returned())
  vec.push(@values, "last|")
  vec.push(@values, "\x00A")
  vec.push(@values, "??/")
  let arena: Arena[Bytes] = arena.new()
  let a: Id[Bytes] = arena.add(@arena, "")
  let b: Id[Bytes] = arena.add(@arena, "i64.add|")
  let c: Id[Bytes] = arena.add(@arena, "true|")
  let d: Id[Bytes] = arena.add(@arena, "42|")
  let e: Id[Bytes] = arena.add(@arena, "quote:\" slash:\\|")
  let f: Id[Bytes] = arena.add(@arena, "\n\r\t|")
  let g: Id[Bytes] = arena.add(@arena, "\x00Z\xff|")
  let h: Id[Bytes] = arena.add(@arena, named)
  let i: Id[Bytes] = arena.add(@arena, returned())
  let j: Id[Bytes] = arena.add(@arena, "last|")
  let k: Id[Bytes] = arena.add(@arena, "\x41B")
  let l: Id[Bytes] = arena.add(@arena, "??=")
  io.print_i64(bytes.len(vec.get(values, 0)))
  io.print_bytes(vec.get(values, 1))
  io.print_bytes(vec.get(values, 2))
  io.print_bytes(vec.get(values, 3))
  io.print_bytes(vec.get(values, 4))
  io.print_bytes(vec.get(values, 5))
  io.print_bytes(vec.get(values, 6))
  io.print_bytes(vec.get(values, 7))
  io.print_bytes(vec.get(values, 8))
  io.print_bytes(vec.get(values, 9))
  io.print_bytes(vec.get(values, 10))
  io.print_bytes(vec.get(values, 11))
  io.print_i64(bytes.len(arena.get(arena, a)))
  io.print_bytes(arena.get(arena, b))
  io.print_bytes(arena.get(arena, c))
  io.print_bytes(arena.get(arena, d))
  io.print_bytes(arena.get(arena, e))
  io.print_bytes(arena.get(arena, f))
  io.print_bytes(arena.get(arena, g))
  io.print_bytes(arena.get(arena, h))
  io.print_bytes(arena.get(arena, i))
  io.print_bytes(arena.get(arena, j))
  io.print_bytes(arena.get(arena, k))
  io.print_bytes(arena.get(arena, l))
  0
